<footer>
    <div class="section-full">
        <div class="section">
            <!-- Eventueel contact gegevens boven de footer lijn. -->
            <div fxLayout="row" fxLayoutGap="1%">
                <mat-icon aria-hidden="false" aria-label="Example home icon">smartphone</mat-icon>
                <span>(+31)0641621854</span>
            </div>
            <div fxLayout="row" fxLayoutGap="1%">
                <mat-icon aria-hidden="false" aria-label="Example home icon">mail</mat-icon>
                <span>steven@innovactions.nl</span>
            </div>
            <div id="line"></div>
            <div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="footer-text">© 2021, Retrii</div>
                    <a class="footer-text" href="../../../../assets/files/Privacyverklaring.pdf" target="_blank">All rights reserved.</a>
                </div>
            </div>
        </div>
    </div>
</footer>