.project-section {
    min-height: 70vh;
    max-width: 57%;
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
}

#project-description-text {
    max-width: 80%;
}

#project-image-container {
    width: 100%;
}